/* COLORS */

$default_color: #293241;
$light_color: #fafafa;
$active_link_color: #98c1d9;
$tag_bg_color: #3D5A80;
$accent_color: #EE6C4D;

/*
Light mode palette https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
Dark mode palette https://coolors.co/ffa69e-faf3dd-b8f2e6-aed9e0-5e6472 
*/

$fa-font-path:         "/fonts/font-awesome";